body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 20px 0 20px;
  min-height: 100vh;

  color: #90e0ef;
  background-color: #0077b6;
  text-align: center;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0px;
  font-size: 90px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 200;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 55px;
  }

  h3 {
    font-size: 15px;
  }
}

a:link,
a:visited {
  color: #90e0ef;
}

ul {
  list-style-type: none;
  margin-top: 100px;
  padding: 0;
}

li {
  display: inline;
  padding: 0;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}

li > a:link {
  text-decoration: none;
}

.fa {
  font-size: 25px;
}
