body {
  background-color: #f7f7f7;
  color: #28292d;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  text-align: center;
  font-weight: 300;
}

a:link, a:visited {
  color: #28292d;
}

.app {
}

h1 {
  font-weight: 400;
  font-size: 100px;
  margin-bottom: 0px;
}

.current p {
  font-size: 30px; 
  margin: 10px;
}

.past p {
  font-size: 20px;
}
